# Bookmarklets

Personal collection of bookmarklets

## Usage

Create bookmarks with the following code as URL,
{{{bookmarkletUsageSection}}}

## References

* [GitHub - draktr/paywall_bypass_bookmarklets](https://github.com/draktr/paywall_bypass_bookmarklets)
* [GitHub - ThomasOrlita/awesome-bookmarklets](https://github.com/ThomasOrlita/awesome-bookmarklets)
* [GitHub - hariprasd/cool-bookmarklets](https://github.com/hariprasd/cool-bookmarklets)
* [Bookmarklets](https://isqua.github.io/bookmarklets/)